body {
    margin: 0;
    padding: 0;
    background-color: #2a2826;
}

.loading {
    width: 800px;
    height: 600px;
    margin: auto;
    background-image: url("loading.gif");
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-top: 10%;
}

.title {
    margin: auto;
    width: 500px;
}