.cv-container {
  width: 150px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 59px;
  background-image: url("../../assets/img/Highlighter.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .cv-container {
    position: absolute;
    right: 11%;
    top: 45%;
  }
}

#cv {
  color: #000000;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

#cv:hover {
  color: red;
  text-decoration: none;
}

#cv:after {
  color: #000;
}

.fa.fa-twitter {
  color: #000000;
}

@media (min-width: 768px) {
  .fa.fa-twitter {
    font-size: 24px;
  }
}

.icon.ion-social-dribbble {
  color: #000;
}

@media (min-width: 768px) {
  .icon.ion-social-dribbble {
    font-size: 24px;
  }
}

.icon.ion-social-instagram {
  color: #000000;
}

@media (min-width: 768px) {
  .icon.ion-social-instagram {
    font-size: 24px;
  }
}

.fa.fa-linkedin {
  color: #000000;
}

@media (min-width: 768px) {
  .fa.fa-linkedin {
    font-size: 24px;
  }
}

.fa.fa-twitter:hover {
  color: red;
}

.icon.ion-social-dribbble:hover {
  color: red;
}

.icon.ion-social-instagram:hover {
  color: red;
}

.fa.fa-linkedin:hover {
  color: red;
}

@media (min-width: 768px) {
  #about-contact-title {
    position: absolute;
    top: 13%;
  }
}

@media (min-width: 768px) {
  #social-media {
    position: absolute;
    top: 55%;
  }
}

@media (min-width: 768px) {
  #lets-talk {
    position: absolute;
    top: 11%;
  }
}

@media (min-width: 768px) {
  #contacts {
    width: 300px;
    position: absolute;
    right: 7%;
    top: 25%;
  }
}

@media (min-width: 768px) {
  .sm-icons {
    margin-top: 200px;
  }
}

.container.social-icons {
  height: 32px;
  width: 100%;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .container.social-icons {
    position: absolute;
    right: 7%;
    top: 50%;
    padding: 0;
    width: 260px;
  }
}

.icons {
  margin: 0 auto;
  width: 260px;
  padding: 0;
}

@media (min-width: 768px) {
  .icons {
    width: 290px;
  }
}

.icon-item {
  display: inline-block;
  margin: 0 24px;
}

@media (min-width: 768px) {
  .container.social-icons {
    margin-top: 190px;
  }
}

@media (min-width: 768px) {
  #contact-sentence {
    position: absolute;
    right: 7%;
    top: 80%;
    width: 327px;
  }
}

.container.contact-image {
  height: 0;
  border: none;
}

@media (min-width: 768px) {
  .container.contact-image {
    border: 0.3px solid black;
    width: 30px;
    margin-left: 7%;
    width: 40%;
    height: inherit;
    padding: 4px;
    height: 325px;
    margin-top: 48px;
  }
}

.contact-hero {
  height: 0;
}

@media (min-width: 768px) {
  .contact-hero {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  #about-sentence {
    width: 327px;
    position: absolute;
    right: 7%;
  }
}

@media (min-width: 768px) {
  #about-sentence {
    position: absolute;
    right: 7%;
    top: 30%;
  }
}

#hero-1 {
}

