.cv-container {
  width: 150px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 59px;
  background-image: url("../../assets/img/Highlighter.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .cv-container {
    margin-top: 248px;
  }
}

#cv {
  color: #000000;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

#cv:hover {
  color: red;
  text-decoration: none;
}

#cv:after {
  color: #000;
}

.fa.fa-twitter {
  color: #000000;
}

.icon.ion-social-dribbble {
  color: #000;
}

.icon.ion-social-instagram {
  color: #000000;
}

.fa.fa-linkedin {
  color: #000000;
}

.fa.fa-twitter:hover {
  color: red;
}

.icon.ion-social-dribbble:hover {
  color: red;
}

.icon.ion-social-instagram:hover {
  color: red;
}

.fa.fa-linkedin:hover {
  color: red;
}

@media (min-width: 768px) {
  #about-contact-title {
    position: absolute;
    top: 13%;
  }
}

@media (min-width: 768px) {
  #social-media {
    position: absolute;
    top: 60%;
  }
}

@media (min-width: 768px) {
  #lets-talk {
    position: absolute;
    top: 11%;
  }
}

@media (min-width: 768px) {
  #contacts {
    width: 300px;
    position: absolute;
    left: 14%;
    top: 150px;
  }
}

@media (min-width: 768px) {
  .sm-icons {
    margin-top: 200px;
  }
}

.container.social-icons {
  height: 32px;
  width: 100%;
  margin-top: 24px;
}

.icons {
  margin: 0 auto;
  width: 260px;
  padding: 0;
}

.icon-item {
  display: inline-block;
  margin: 0 24px;
}

@media (min-width: 768px) {
  .container.social-icons {
    margin-top: 190px;
  }
}

@media (min-width: 768px) {
  #contact-sentence {
    width: 86%;
    margin: 36px auto;
  }
}

