.footer {
  height: 76px;
  width: 327px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .footer {
    position: sticky;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer-list {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-item {
  display: inline-block;
  margin: 0 15px;
}

.footer-list {
  padding: 0;
}

.sm-link {
  color: #000000;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.sm-link:hover {
  color: red;
  text-decoration: none;
}

.sm-link:after {
  color: black;
}

#contacts {
  font-size: 18px;
  line-height: 48px;
}

@media (min-width: 768px) {
  #about-footer-large {
    margin-top: 15%;
  }
}

