#comp_1 {
  width: 250px!important;
  margin-left: auto!important;
  margin-right: auto!important;
  line-height: 24px;
  height: 616px!important;
}

@media (min-width: 768px) {
  #comp_1 {
    width: 590px!important;
    height: 284px!important;
    margin-top: 48px!important;
  }
}

#comp_2 {
  width: 250px!important;
  margin-left: auto!important;
  margin-right: auto!important;
  line-height: 24px;
  height: 1219px!important;
}

@media (min-width: 768px) {
  #comp_2 {
    width: 590px!important;
    height: 574px!important;
    margin-top: 48px!important;
  }
}

#comp_3 {
  width: 250px!important;
  margin-left: auto!important;
  margin-right: auto!important;
  line-height: 24px;
  height: 354px!important;
}

@media (min-width: 768px) {
  #comp_3 {
    width: 590px!important;
    height: 143px!important;
    margin-top: 48px!important;
  }
}

