#Design-Process {
  background-color: #ffffff!important;
  padding: 80px 0px 0px!important;
}

.image-display {
  height: 235px;
}

@media (min-width: 768px) {
  .image-display {
    height: 600px!important;
    margin: 35px 0px 60px!important;
  }
}

.horizontal-scroll {
  height: 300px;
  overflow-x: auto;
  white-space: nowrap;
}

#design-process {
  height: 323px;
}

@media (min-width: 768px) {
  #design-process {
    height: 170px!important;
  }
}

#Research-Plan {
  color: #ff0000;
  font-size: 24px;
  font-weight: normal;
}

#research-plan {
  height: 220px!important;
}

@media (min-width: 768px) {
  #research-plan {
    height: 125px!important;
  }
}

#final-paragraph {
  height: 826px!important;
}

@media (min-width: 768px) {
  #final-paragraph {
    height: 412px!important;
  }
}

.youtube-video {
  width: 100%;
}

#design-process-ASH {
  height: 529px!important;
}

@media (min-width: 768px) {
  #design-process-ASH {
    height: 269px!important;
  }
}

.ssim-insta {
  color: #ff0000;
  font-family: Roboto, sans-serif;
  font-size: 26px;
}

.ssim-insta:hover {
  color: #2d2d2d;
}

#design-process-ssim {
  height: 608px!important;
}

@media (min-width: 768px) {
  #design-process-ssim {
    height: 317px!important;
  }
}

#research-plan-ash_2 {
  height: 510px!important;
}

@media (min-width: 768px) {
  #research-plan-ash_2 {
    height: 246px!important;
  }
}

#design-process-illustrator {
  height: 222px!important;
}

@media (min-width: 768px) {
  #design-process-illustrator {
    height: 67px!important;
    margin-top: 55px!important;
  }
}

