.pageContent {
    margin-left: 48px;
    margin-right: 48px;
    text-align: left;
    margin-bottom: 48px;
    margin-top: 48px;
}

.radarChart {
    margin-top: 48px;
}

h1 {
    margin-bottom: 24px;
    color: #4a4e7f;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-size: 1.9rem;
    font-weight: 900;
    src: url('../fonts/libre-franklin-v3-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
        url('../fonts/libre-franklin-v3-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/libre-franklin-v3-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/libre-franklin-v3-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/libre-franklin-v3-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/libre-franklin-v3-latin-900.svg#LibreFranklin') format('svg');
}

.pageText {
    font-size: 1em;
    line-height: 2em;
    font-family: ltc-italian-old-style-pro, serif;
    font-weight: 300;
    font-style: normal;
}

tspan {
    font-size: 1.5vh;
}

text.axisLabel {
    font-size: 1.1vh !important;
}

@media only screen and (max-width: 992px) {

    pageContent {
        margin-top: 24px;
    }

    .radarChart {
        margin-top: 24px;
    }

    #Left-Column {
        margin-bottom: 120px;
    }

    tspan {
        font-size: 1vh;
    }

    text.axisLabel {
        font-size: 0.8vh !important;
    }

}

body {
    font-family: 'Libre-Franklin', sans-serif;
    font-size: 11px;
    font-weight: 400;
    fill: #000000;
    text-align: center;
    cursor: default;
    background-color: #fbd3d1;
}

.indicators {
    font-family: 'Open Sans', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

.mdb-select {
    display: none;
}

ul {
    list-style-type: none;
}

.rect {
    width: 20px;
    height: 20px;
}

.label {
    margin-left: 10px;
}

#divLegend {
    width: 150px;
}

label.checkbox {
    font-size: 0.8em;
    color: #000000;
    text-align: center;
    font-family: 'Libre-Franklin', sans-serif;
}

label.checkbox:hover {
    font-weight: bolder;
}

.multiselect-container>li.active>a>label.checkbox {
    color: blue;
    font-weight: bolder;
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-right: 5px;
    display: none;
}

.dropdown-menu.show {
    border-color: #000000;
    background-color: #ffffff;
    border-width: 2px;
    max-height: 320px;
    overflow-y: scroll;
}

.dropdown-menu {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    border-color: #000000;
    background-color: #ffffff;
    border-width: 2px;
}